<!DOCTYPE html>
<html>
  <head>
    <title>
      {% block title %}Cheater{% endblock %}
    </title>
    <link rel="stylesheet" type="text/css" media="all" href="{{ url_for('static', filename='style.css') }}" />
    <link rel="stylesheet" type="text/css" media="all" href="{{ url_for('static', filename='codehilite.css') }}" />
    {% block google_analytics %}
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-35027262-1']);
      _gaq.push(['_setDomainName', 'nemoden.com']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); 
            s = document.getElementsByTagName('script')[0]; 
        ga.type = 'text/javascript'; 
        ga.async = true;
        ga.src = 'http://www.google-analytics.com/ga.js';
        s.parentNode.insertBefore(ga, s);
      })();
    </script>
    {% endblock %}

  </head>
  <body id='main'>
    {% block content %}
    {% endblock %}
  </body>
</html>
